@import "tailwindcss";
/* Hide scrollbar for Chrome, Safari, and Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE 10+ */
}
/* styles/globals.css or app/globals.css */
.leaflet-container {
  font-family: 'Inter', sans-serif;
}

.leaflet-popup-content-wrapper {
  background-color: #f0f9ff;
  color: #1e40af;
  font-size: 0.875rem; /* Tailwind text-sm */
  border-radius: 0.75rem; /* Tailwind rounded-xl */
  padding: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.leaflet-popup-tip {
  background-color: #f0f9ff;
}

.leaflet-control-zoom {
  display: none; /* optional: hide zoom in/out buttons */
}

html {
  scroll-behavior: smooth;
}
